<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Add user</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
</head>
<body>

<ul class="nav justify-content-left">
    <li class="nav-item">
        <a class="nav-link active" href="/login">Log out</a>
    </li>

</ul>
<br><br>
<div class="container" align="center">
    <h2 style="color: blueviolet">Add new user</h2>
    <hr>

    <form  th:method="post-center" th:action="@{/add}" th:object="${user}">
        <div class="container" align="center">
            <label for="name">Name</label>
            <br>
            <input style="background-color: lightblue" type="text" class="control-input col-sm-6" th:field="*{name}" id="name" placeholder="Name" required>
        </div>
        <div class="container" align="center">
            <label for="name">Email</label>
            <br>
            <input style="background-color: lightblue" type="text" class="control-input col-sm-6" th:field="*{name}" id="email" placeholder="Email" required>
        </div>
        <div class="container" align="center">
            <label for="password">Password</label>
            <br>
            <input style="background-color: lightblue" type="text" class="control-input col-sm-6" th:field="*{password}" id="password" placeholder="Password" required>
        </div>
        <div class="container" align="center">
            <label for="age">Age</label>
            <br>
            <input style="background-color: lightblue" type="text" class="control-input col-sm-6" th:field="*{age}" id="age" placeholder="age" required>
        </div>
        <p>
        <li th:each="role : ${allRoles}">
            <label>
                <input style="color: blue" th:type="checkbox" th:name="${role}">
                <span th:text="${role}"></span>
            </label>
        </li>
        </p>
        <div>
            <br>
            <input style="background-color: lightgreen" type="submit" value="Add user">
        </div>
    </form>
</div>
<hr>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
